* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Container grid layout */

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
    background-color: #fff;
}

/* Header styling */

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5c51a1bd;
    color: white;
    padding: 20px 15px;
}

header h1 {
    font-size: 1.3em;
    font-weight: 400;
}


/* Profile and notification icons */
.bell {
    filter: invert(100%);
}

.profile-image {
    border-radius: 50%;
}

header h3 {
    font-size: 1em;
    font-weight: 400;
}

#notifications {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* Notification dot */

.notification-dot {
    position: absolute;
    top: -27px;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(20, 255, 20);
    display: none;
}

#notifications.has-notifications .notification-dot {
     /* Show when there are notifications */
     display: block;
}

/* Navigation styling */

nav {
    grid-area: nav;
    background-color: #4a446ae8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

nav ul li {
    display: inline-block;
}

nav ul li a img {
    filter: invert(100%);
}

/* Main content styling */

main {
    grid-area: main;
    overflow-y: auto;
}

/* Styling for Main Header Container */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #f7f7f7;
    height: 50px;
}

/* Styling for Dashboard Headline */
.headline {
    font-size: 16px;
    font-weight: 600;
    color: #151530; 
    margin: 0;
    background-color: white;
    padding: 20px;
}

/* Styling for the Tab Section (empty) */

.tab {
    flex-grow: 1;
    height: inherit;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
}

/* Styling for Alert Box */

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b64c9;
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    margin: 20px;
    font-size: 0.875rem;
}

.alert p {
    margin: 0;
}

.alert button {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}

/* General Section Styling */
section {
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

section h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Traffic Section */

.traffic-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Space between title and tabs */
}

.traffic-nav {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    list-style: none;
}

.traffic-nav-link {
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
}

.traffic-nav-link.active {
    background-color: #3b9f6bdc;
    color: white;
}

/* Widgets for Charts */
.widget-container-full, .widget-container-half {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Social Stats */

.social-stats {
    display: grid;
    gap: 15px;
}

.social-container {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 10px;
    align-items: center;
    border: 1px solid #cdcdcd;
    padding: 15px;
    border-radius: 7px;
    background-color: #eaeaea;
}

.social-image {
    width: 60px;
    height: 60px;
    background-color: #6b64c9;
    border: 15px solid #6b64c9;
    border-radius: 50%;
}

.social-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.social-text h4 {
    font-size: 16px;
    color: #6b64c9;
    font-weight: 400;
}
.social-text p {
    font-size: 34px;
    color: #535353;
    font-weight: 300;
}

